@import '../../../../styles/mixins.scss';
.card-container {
  position: relative;
  background-color: var(--darkviolet);
  padding: 1.5rem;
  display: grid;
  gap: 15px;
  border-radius: 1rem;
  align-content: center;

  .like-button {
    position: absolute;
    top: 10px;
    right: 6.65px;
    background: none;
    font-size: 3rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(120%);
    }
  }

  .card-image-container {
    cursor: pointer;
    .card-image-sub-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--violet);
      border-radius: 100rem;
      width: 130px;
      height: 130px;

      @include respond(tab-land) {
        width: 330px;
        height: 330px;
      }

      .card-image-background {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100rem;
        width: 100px;
        height: 100px;

        @include respond(tab-land) {
          width: 300px;
          height: 300px;
        }

        .card-image {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--violet);
          width: 75px;
          height: 75px;
          border-radius: 100rem;

          @include respond(tab-land) {
            width: 275px;
            height: 275px;
          }
        }
      }
    }
  }

  .card-sub-container {
    display: grid;
    gap: 5px;
    .card-tittle {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 5px;
      width: 100%;
      font-weight: 600;
      height: 57.5px;
      font-size: calc(3rem - 200px);
      text-align: center;
      color: var(--font);

      @include respond(tab-land) {
        font-size: 3rem;
      }

      .card-name {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--violet);
        border-radius: 10px 0 0 0;

        .card-name-content {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 200px;
          margin-inline: 4px;
        }
      }
      .card-id {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--violet);
        border-radius: 0 10px 0 0;
      }
    }

    .card-types {
      background-color: var(--violet);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 0 0 10px 10px;

      .card-type {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 2.5rem;
        margin: 0 5px;
        border-radius: 1rem;
        border: 2px solid var(--darkviolet);
        color: #fff;
      }
    }
  }
}
