.pokelist-forms-container {
  display: grid;
  grid-template-rows: 34.5px 1fr;
  gap: 5px;
  justify-items: center;
  width: 100%;
  font-weight: 600;

  .pokelist-forms-additional-text {
    font-size: 3rem;
    background-color: var(--violet);
    color: var(--darkviolet);
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .pokelist-forms {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 40px);
    height: fit-content;
    padding: 20px;
    background-color: var(--violet);
    color: var(--red);
    border-radius: 0 0 10px 10px;
    font-size: 2rem;

    .pokelist-form {
      border-radius: 5px;
      text-align: center;
      width: 20%;
      margin: 10px 0;
    }
  }
}
