.pokemon-information-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 2px var(--darkviolet);

  .pokemon-type-indicator {
    font-size: 2rem;
    color: var(--darkviolet);
    font-weight: 600;
  }

  .pokemon-type {
    display: inline-block;
    padding: 2.5px 10px;
    font-size: 2rem;
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid var(--darkviolet);
    color: #fff;
    &.normal {
      background-color: #828282;
    }
    &.grass {
      background-color: #439937;
    }
    &.fire {
      background-color: #e5613e;
    }
    &.water {
      background-color: #309ae2;
    }
    &.electric {
      background-color: #e0bd28;
    }
    &.rock {
      background-color: #aaa581;
    }
    &.fighting {
      background-color: #e59121;
    }
    &.psychic {
      background-color: #ea6c8d;
    }
    &.ghost {
      background-color: #6f4570;
    }
    &.poison {
      background-color: #9454cc;
    }
    &.flying {
      background-color: #74abd1;
    }
    &.ground {
      background-color: #a5733c;
    }
    &.dragon {
      background-color: #576fbd;
    }
    &.ice {
      background-color: #47c9c9;
    }
    &.bug {
      background-color: #a0a028;
    }
    &.steel {
      background-color: #6badc9;
    }
    &.dark {
      background-color: #4f4747;
    }
    &.fairy {
      background-color: #e28de2;
    }
  }

  .pokemon-proportions {
    font-size: 2rem;
    color: var(--darkviolet);
    font-weight: 600;
  }
}
