.pokemon-information-container {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  gap: 10px;

  .pokemon-type-information-container {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    gap: 5px;
    width: 100%;

    .pokemon-type-additional-text {
      background-color: var(--violet);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: var(--darkviolet);
      font-weight: 600;
      padding: 5px 0;
      border-radius: 10px 10px 0 0;
    }
    .pokemon-type-container {
      background-color: var(--violet);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 0 0 10px 10px;

      .pokemon-type {
        width: 100%;
        text-align: center;
        padding: 2.5px 10px;
        font-size: 2rem;
        margin: 0 5px;
        border-radius: 5px;
        border: 2px solid var(--darkviolet);
        color: #fff;
        &.normal {
          background-color: #828282;
        }
        &.grass {
          background-color: #439937;
        }
        &.fire {
          background-color: #e5613e;
        }
        &.water {
          background-color: #309ae2;
        }
        &.electric {
          background-color: #e0bd28;
        }
        &.rock {
          background-color: #aaa581;
        }
        &.fighting {
          background-color: #e59121;
        }
        &.psychic {
          background-color: #ea6c8d;
        }
        &.ghost {
          background-color: #6f4570;
        }
        &.poison {
          background-color: #9454cc;
        }
        &.flying {
          background-color: #74abd1;
        }
        &.ground {
          background-color: #a5733c;
        }
        &.dragon {
          background-color: #576fbd;
        }
        &.ice {
          background-color: #47c9c9;
        }
        &.bug {
          background-color: #a0a028;
        }
        &.steel {
          background-color: #6badc9;
        }
        &.dark {
          background-color: #4f4747;
        }
        &.fairy {
          background-color: #e28de2;
        }
      }
    }
  }

  .pokemon-all-proportions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
    text-align: center;

    .pokemon-proportions-container {
      display: inline-flex;
      flex-direction: column;
      padding: 5px 5px;
      background-color: var(--violet);
      font-size: 2rem;
      color: var(--darkviolet);

      &.height {
        border-radius: 10px 0 0 10px;
      }

      &.weight {
        border-radius: 0 10px 10px 0;
      }

      .propotions-information-name {
        font-weight: 600;
      }
    }
  }
}
