@import '../../../styles/mixins.scss';

.login-modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 22, 17, 0.3);
  backdrop-filter: blur(6px);
  z-index: 2;
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    min-width: 80vw;
    border-radius: 5px;
    background-color: var(--darkviolet);
    padding: 15px;

    @include respond(tab-land) {
      min-width: 20vw;
    }

    .input {
      margin: 20px 0;
      padding: 0px 4px;
      width: 356px;
      min-width: 300px;
      height: 50px;
      font-size: 2rem;
      background-color: #fff;
      font-family: var(--font-primary);
      color: var(--dark);
      border: solid var(--violet) 3px;
      border-radius: 5px;
    }

    .password-wrapper {
      display: flex;
      width: 364px;
      min-width: 300px;

      .password {
        border-radius: 5px 0px 0px 5px;
        border-right: none;
      }

      .show-password {
        font-family: var(--font-secondary);
        background-color: #fff;
        font-size: 3rem;
        border: 0px;
        margin: 20px 0;
        width: 60px;
        border-radius: 0px 5px 5px 0px;
        border: solid var(--violet) 3px;
        border-left: none;
      }
    }

    .modal-span {
      font-size: 1.7rem;
      margin-top: 3.5rem;
      font-family: var(--font-secondary);
      color: #fff;

      .modal-link-switch {
        cursor: pointer;
        color: var(--red);
      }
    }
  }
}
