@import '../../../../styles/mixins.scss';

.all-stats-container {
  text-align: center;
  display: grid;
  gap: 5px;

  .stats-additional-text {
    font-size: 1.75rem;
    padding: 5px 0;
    color: var(--font);
    font-weight: 600;
    background-color: var(--violet);
    border-radius: 10px 10px 0 0;
  }

  .stats-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--violet);
    padding: 10px;
    border-radius: 0 0 10px 10px;

    @include respond(tab-land) {
      gap: 6px;
    }

    .stats-container-each-stat {
      display: grid;
      gap: 5px;
      padding: 5px 5px;
      font-size: 1.5rem;
      border-radius: 5px;
      border: 2px solid var(--darkviolet);
      font-weight: 600;
      color: var(--darkviolet);

      &.hp {
        background-color: #9ee865;
      }
      &.attack {
        background-color: #f5de69;
      }
      &.defense {
        background-color: #f09a65;
      }
      &.special-attack {
        background-color: #66d8f6;
      }
      &.special-defense {
        background-color: #899eea;
      }
      &.speed {
        background-color: #e46cca;
      }
    }
  }
}
