@import '../../../styles/mixins.scss';

.burgir {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  transition: 0.75s;
  cursor: pointer;

  @include respond(tab-land) {
    display: none;
  }

  .krecha-up,
  .krecha,
  .krecha-down {
    margin: 4.5px 0;
    width: 45px;
    height: 4.5px;
    background-color: var(--font);
    border-radius: 10px;
    transition: 0.5s;
  }

  &.clicked {
    transition: 0.75s;

    .krecha-up {
      transform: translate(0px, 13.5px) rotate(45deg);
      background-color: var(--red);
    }

    .krecha {
      opacity: 0;
    }

    .krecha-down {
      transform: translate(0px, -13.5px) rotate(-45deg);
      background-color: var(--red);
    }
  }
}
