.pokelist-breeding-container {
  display: grid;
  grid-template-rows: 44.5px 1fr;
  gap: 5px;
  justify-items: center;
  width: 100%;

  .pokelist-breeding-additional-text {
    font-size: 3rem;
    background-color: var(--violet);
    color: var(--darkviolet);
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
    font-weight: 600;
  }

  .pokelist-breeding-informations-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;

    .breeding {
      display: grid;
      gap: 10px;
      background-color: var(--violet);
      color: var(--darkviolet);
      width: 100%;
      font-size: 1.75rem;
      text-align: center;
      padding: 10px 0;
      font-weight: 600;

      &.right-down {
        border-radius: 0 0 0 10px;
      }

      &.left-down {
        border-radius: 0 0 10px 0;
      }

      .gender-ratio-container {
        display: grid;
        gap: 10px;
        padding: 0 10px;
        justify-items: center;

        &.one-to-one {
          grid-template-columns: 1fr 1fr;
        }
        &.one-to-three {
          grid-template-columns: 1fr 3fr;
        }
        &.three-to-one {
          grid-template-columns: 3fr 1fr;
        }
        &.one-to-seven {
          grid-template-columns: 1fr 7fr;
        }
        &.seven-to-one {
          grid-template-columns: 7fr 1fr;
        }

        .pokemon-female {
          background-color: #ff77dd;
          padding: 5px;
          width: calc(100% - 10px);
          color: white;
          border: 2px solid var(--darkviolet);
          border-radius: 5px 0 0 5px;
        }

        .pokemon-male {
          background-color: #3355ff;
          padding: 5px;
          color: white;
          width: calc(100% - 10px);
          border: 2px solid var(--darkviolet);
          border-radius: 0 5px 5px 0;
        }

        .pokemon-one-gender {
          padding: 5px 0;
          width: 100%;
          max-width: calc(100% - 10px);
          color: white;
          border: 2px solid var(--darkviolet);
          border-radius: 5px;

          &.female-only {
            background-color: #ff77dd;
          }
          &.male-only {
            background-color: #3355ff;
          }
          &.gender-unknown {
            background-color: #302b29;
          }
        }
      }

      .egg-groups {
        display: flex;
        justify-content: space-evenly;
        padding: 0 5px;
        font-weight: 100;

        .single-egg-group {
          width: 100%;
          text-align: center;
          padding: 5px 10px;
          font-size: 2rem;
          margin: 0 5px;
          border-radius: 5px;
          border: 2px solid var(--darkviolet);
          color: #fff;

          &.monster {
            background-color: #97724c;
          }

          &.humanshape {
            background-color: #47b7ae;
          }

          &.water1 {
            background-color: #6bd1f9;
          }

          &.water3 {
            background-color: #2271b4;
          }

          &.bug {
            background-color: #aac22a;
          }

          &.mineral {
            background-color: #979067;
          }

          &.flying {
            background-color: #90aff1;
          }

          &.indeterminate {
            background-color: #9f82cc;
          }

          &.ground {
            background-color: #e5ba65;
          }

          &.water2 {
            background-color: #4b94ed;
          }

          &.fairy {
            background-color: #ff9eb9;
          }

          &.ditto {
            background-color: #b6aad5;
          }

          &.plant {
            background-color: #82d25a;
          }

          &.dragon {
            background-color: #5e57bf;
          }

          &.no-eggs {
            background-color: #efcf00;
          }
        }
      }
      .pokemon-breeding-white-box-container {
        display: grid;
        padding: 0 10px;
        justify-items: center;

        .pokemon-breeding-white-box {
          padding: 5px 0;
          width: 100%;
          max-width: calc(100% - 10px);
          border: 2px solid var(--darkviolet);
          border-radius: 5px;
          background-color: var(--lightviolet);
          color: var(--darkviolet);
        }
      }
    }
  }
}
