.pokelist-description-right-container-breeding {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--violet);
  color: var(--darkviolet);
  font-weight: 600;
}
