@import './styles/mixins.scss';

a {
  text-decoration: none;
}

.App {

  .header {

    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 2rem 1rem;
      font-family: var(--font-title);
      font-size: 4rem;
      text-align: center;
      color: var(--blue);
      font-weight: var(--font-title-weight);
    }

    .burgir {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem;
      transition: 0.75s;
      cursor: pointer;
  
      .krecha_up, .krecha, .krecha_down {
        margin: 6px 0;
        width: 60px;
        height: 6px;
        background-color: var(--blue);
        border-radius: 10px;
        transition: 0.5s;
      }
      
       &.clicked {
        transition: 0.75s;
        padding: 1rem 1rem;

         .krecha_up {
           transform: translate(0px, 18px) rotate(45deg);
           background-color: var(--orange);
         }
         .krecha {
           opacity: 0;
         }
         .krecha_down {
           transform: translate(0px, -18px) rotate(-45deg);
           background-color: var(--orange);
         }
      }
    }
  }

  .menu {
    display: none;
    background-color: var(--dark);
    text-align: center;
    
    &.show {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: 3rem;
    }
    
    li {
        list-style: none;
        border-top: 1px solid #353029;
        width: 100%;
        
        a {
          display: block;
          position: relative;
          padding: 2rem;
          font-family: var(--font-primary);
          text-align: center;
          font-size: 3rem;
          color: var(--blue);
          font-weight: var(--font-primary-weight);

          &:active {
            color: var(--orange);
          }
      
          &:focus {
            color: var(--orange);
          }
        }
      }
  }

  @include respond(tab-land) {

    .header {

      background-color: var(--dark);
      display: flex;
      justify-content: center;
      
      .burgir {
        display: none;
      }

      .logo {
        padding: 2rem;
        font-family: var(--font-title);
        font-size: 7.5rem;
        text-align: center;
        color: var(--blue);
      }
    }

    .menu {
      display: flex;
      justify-content: center;

        li {
          border-top: 3px solid #353029;
          width: 17.5rem;

          a {
            display: inline-block;
            padding: 2rem;
            font-size: 3rem;
            letter-spacing: 0.1rem;

            &:after {    
              content: "";
              display: block;
              position: relative;
              left: 50%;
              top: 0.5rem;
              height: 0.5rem;
              width: 0;
              background: var(--orange);
              transition: width 0.25s, left 0.25s;
            }

            &:hover:after { 
              width: 97.5%; 
              left: 0; 
            }

            &:not(:last-child)::after {
              height: 0px;
            }

            &:active {
              color: var(--blue);
            }

            &:focus {
              color: var(--blue);
            }
          }
      }
    }
  }

  @include respond(pc) {
    .menu {
      li {
        width: 20rem;
      }
    }
  }
}