@import './styles/mixins.scss';

.App {
    .burgir {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.25rem 1rem 0.25rem 0;
      cursor: pointer;

      .krecha_up, .krecha, .krecha_down {
        margin: 6px 0;
        width: 60px;
        height: 7.5px;
        background-color: var(--blue);
        border-radius: 10px;
        transition: 0.5s;
      }
    
      &.clicked {
        .krecha_up {
          transform: translate(0px, 19.75px) rotate(45deg);
        }
        .krecha {
          opacity: 0;
        }
        .krecha_down {
          transform: translate(0px, -19.75px) rotate(-45deg);
        }
      }
    }
}