@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import './styles/normalize.scss';

:root {
  font-size: 62.5%; // 10px
  // colors
  --yellow: #f5c63d;
  --orange: #c9752f;
  --dark: #1a1611;
  --green: #005600;
  --blue: #b2c2d6;
  // fonts
  --font-title: 'Averia Serif Libre', serif;
  --font-primary: 'Exo', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --font-title-weight: 700;
  --font-primary-weight: 800;
  --font-secondary-weight: normal;
}
