@import '../../styles/mixins.scss';

.pokelist-items {
  background-color: var(--darkviolet);
  padding: 16px 0px;
  border: 2.5px solid var(--violet);
  border-radius: 2rem;
  text-align: center;
  color: var(--violet);
  font-size: 2.5rem;
  font-family: var(--font-primary);
  font-weight: var(--font-primary-weight);

  @include respond(tab-land) {
    font-size: 3rem;
    padding: 24px;
    cursor: pointer;
  }

  &.active {
    background-color: var(--dark);
    color: var(--red);
    border: 2.5px solid var(--red);
  }
}

.pokelist-container {
  --header-mobile-margin: 86px;

  margin-top: var(--header-mobile-margin);
  position: relative;
  display: flex;
  width: 100%;
  background-color: var(--dark);
  height: calc(100vh - var(--header-mobile-margin));
  // scrollbar-color: ;

  @include respond(tab-land) {
    --header-mobile-margin: 205.75px;
  }

  .pokelist-left {
    width: 531.438px;
    display: flex;
    flex-direction: column;

    .pokelist-grid-container {
      position: relative;
      flex: 1;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 1rem;
      }
      &::-webkit-scrollbar-track {
        background: var(--darkviolet);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 5px;
      }

      .pokelist-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-family: var(--font-primary);
        gap: 1.5rem;
        list-style-type: none;
        margin: 1.5rem;
        margin-top: 0;

        @include respond(tab-land) {
          grid-template-columns: repeat(1, 1fr);
          gap: 3rem;
          margin: 3rem;
          margin-top: 0;
          width: 454.453px;
        }
      }
    }
  }

  .pokelist-right {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 3rem;

    @include respond(tab-land) {
      display: flex;
    }

    .pokelist-description {
      display: flex;
      background-color: var(--darkviolet);
      position: absolute;
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      padding: 1rem;
      top: 0;
      left: 0.5rem;
      overflow-y: scroll;
      border-radius: 2rem;
      border: 2.5px solid var(--violet);

      &::-webkit-scrollbar {
        display: none;
      }

      .pokelist-description-left-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px;

        .pokelist-description-image {
          width: 300px;
          height: 300px;
          background-color: var(--violet);
          border-radius: 10px;
        }

        .pokelist-description-information {
          background-color: var(--violet);
          margin-top: 20px;
          width: calc(100% - 20px);
          height: fit-content;
          border-radius: 10px;
          padding: 10px;

          .pokemon-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            font-size: 2.5rem;
            text-align: center;
            padding-bottom: 5px;
            color: var(--darkviolet);
            border-bottom: solid 2px var(--darkviolet);
            font-weight: 600;
            height: 57.5px;
          }
        }
      }

      .pokelist-description-right-container {
        display: flex;
        flex-direction: column;
        width: calc(100% - 3rem);
        height: calc(100% - 2rem);
        margin: 10px;
        border-radius: 10px;

        .pokelist-description-right-container-base-stats {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          margin-top: 20px;
          font-size: 2rem;
          height: fit-content;
          width: calc(100% - 20px);
          border-radius: 10px;
          background-color: var(--violet);
          color: var(--darkviolet);
          font-weight: 600;
          padding: 10px;

          .pokelist-base-stats-additional-text {
            text-align: center;
            width: calc(100% - 40px);
            font-size: 3rem;
            border-bottom: solid 2px var(--darkviolet);
            padding-bottom: 5px;
          }

          .pokelist-base-stats-in-container {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            list-style: none;

            .pokelist-each-base-stats {
              border: solid 2px var(--darkviolet);
              border-radius: 10px;
              padding: 5px;
              margin-bottom: 10px;
              width: fit-content;

              &.hp {
                background-color: #9ee865;
              }
              &.attack {
                background-color: #f5de69;
              }
              &.defense {
                background-color: #f09a65;
              }
              &.special-attack {
                background-color: #66d8f6;
              }
              &.special-defense {
                background-color: #899eea;
              }
              &.speed {
                background-color: #e46cca;
              }
            }
          }
        }
      }
    }
  }
}
