.pokelist-evolution-container {
  display: grid;
  grid-template-rows: 44.5px 1fr;
  gap: 5px;
  justify-items: center;
  width: 100%;
  font-weight: 600;

  .pokelist-evolution-additional-text {
    font-size: 3rem;
    background-color: var(--violet);
    color: var(--darkviolet);
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }
  .pokelist-evolution-chain-container {
    display: grid;
    width: 100%;

    .pokelist-evolution-chain {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px 0;
      background-color: var(--violet);
      color: var(--darkviolet);
      border-radius: 0 0 10px 10px;
      font-size: 2rem;

      .evolution-item {
        display: grid;
        justify-items: center;

        .evolution-picture {
          width: 140px;
          height: 140px;
          transition: 0.2s ease-in-out;
          cursor: pointer;
        }

        .evolution-text {
          transition: 0.2s ease-in-out;
          &.current-pokemon {
            color: var(--red);
          }
        }

        &:hover {
          .evolution-picture:not(.current-pokemon-picture) {
            transform: scale(110%);
            transition: 0.2s ease-in-out;
            cursor: pointer;
          }

          .evolution-text:not(.current-pokemon) {
            transition: 0.2s ease-in-out;
            color: var(--dark);
          }
        }
      }

      .evolution-separator {
        font-size: 3rem;
        margin: 0 1rem;
      }
    }
  }
}
