.pokelist-evolution-container {
  display: grid;
  grid-template-rows: 44.5px 1fr;
  gap: 5px;
  justify-items: center;
  width: 100%;
  font-weight: 600;

  .pokelist-evolution-additional-text {
    font-size: 3rem;
    background-color: var(--violet);
    color: var(--darkviolet);
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }

  .pokelist-evolution-chain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    background-color: var(--violet);
    color: var(--darkviolet);
    border-radius: 0 0 10px 10px;
    font-size: 2rem;
  }
}
